- @tbody_html = capture do
  = render 'tbody'
- @paginator_html = capture do
  = render 'paginator'


$("#tbody").html("#{raw @tbody_html.gsub(/\x22/, "'").gsub(/\n/, "")}")
$("#paginator").html("#{raw @paginator_html.gsub(/\x22/, "'").gsub(/\n/, "")}")

