= f.input :category, :as => :select, :collection => f.object.class.get_category_values,
                                    :prompt => t(:select_options), :disabled => true
= f.input :body, :input_html => { :id => "kindeditor_id" }, :input_html => {:rows => 3, :cols => 70}
= f.input :state, :as => :select, :collection => f.object.class.get_state_values
= f.input :result, :input_html => {:rows => 3, :cols => 70}

