%header.container_12.clearfix
  .grid_12
    %h1= t("web.page.index", :model => resource_class.model_name.human)

%section.container_12.clearfix
  .grid_12
    .actions
      - if can? :create, resource_class
        /= link_to t("web.page.new", :model => resource_class.model_name.human),
        /            [:new, :admin, resource_class.name.underscore], :class => "button"

    #demo.clearfix
      = render "admin/businesses/entries"

= content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('.list_table').dataTable( {
        "sPaginationType": "full_numbers",
        "aaSorting": [[2,'asc']],
        "oLanguage": {
          "sUrl": "/javascripts/datatables/zh-CN.txt"
        }
      });
      $("[data-colorBox-ajax-load]").colorbox({
        width: "80%",
        height: "80%"
      });
    });

