%header.container_12.clearfix
  .grid_12
    %h1= t("web.page.process", :model => Feedback.model_name.human)

%section.container_12.clearfix
  .portlet.grid_12
    %header
      %h2= resource.title rescue resource.name
      - unless @show_colorbox
        = link_to t("web.page.back_to_list"), [:admin, resource_class.name.underscore.pluralize], :class => "button"

    %section
      = render "admin/businesses/form_feedback", :url => [:process_feedback, :admin, resource]

