%section.portlet.grid_6.leading
  %header
    %h2 Client Statistics
  %section
    %table.full
      %tbody
        %tr
          %td Active
          %td{:style => "width: 70%;"}
            #progress1.progress
              %span{:style => "width: 50%;"}
                %b 50%
          %td.ar{:style => "width: 40%"} 15/30
          
        %tr
          %td Pending
          %td
            .progress
              %span{:style => "width: 70%;"}
                %b 70%
          %td.ar 7/10