%header.container_12.clearfix
  .grid_12
    - title = t("web.page.new", :model => @model.model_name.human)
    %h1= title

%section.container_12.clearfix
  .portlet.grid_12
    %header
      %h2= title
      = link_to t("web.page.back_to_list"), [:admin, @items_symbol], :class => "button"

    %section
      = render "form", :url => [:admin, @items_symbol]

