#banner
  #banner_text
    图书信息中心是在学院领导下全面负责我院图书文献信息资源建设、网络信息管理、档案管理、校史陈列馆管理的主管单位，由图书馆、网络管理中心、档案馆以及校史陈列馆组成，现有教职员工49人。办公地点在学院东区图书馆大楼内
    %br
    %br
    = link_to (image_tag "design/banner_buttun.jpg", :border => 0), [:new, :business]

