#banner
  #banner_text
    围绕学院的中心工作，配合相关部门，规划、做好学院的数字化校园建设工作，编制相关的设备购置计划，负责相关设备的安装、调试、验收、维护、维修等技术保障工作。
    制定并完善学院的图书资料、资源和电教、网络、网站相关管理规章制度，对学院图书资料、资源和电教、网络、网站设备进行定期检查、维护，保证教学、教科研、培训、办公的正常运转。
    %br
    %br
    = link_to (image_tag "design/banner_buttun.jpg", :border => 0), [:new, :business]

