#bottom
  #bottom_bg_left
  #bottom_bg_mid
    = link_to "学院首页", "#"
    |
    = link_to "联系我们", "#"
    |
    = link_to "站点地图", "#"
    %br
    投诉电话：33132324    业务办理：353464654    业务咨询：654655654　　中华人民共和国四川省德阳市陵江西路4号    邮政编码：613004
    
  #button_bg_right