#table_1
  #table1_bg_left
  #table1_bg_mid
    #table1_heading
      %img(width="380"){:src => image_path("design/lastest.jpg")}
      %ul.list_1.list_1_margin
        - @posts.each do |post|
          %li= link_to (raw "&gt;　%s" % truncate(post.title, :length => 22)), [post], :class => :text_link

  #table1_bg_right

#table_2
  #table2_bg_left
  #table2_bg_mid
    #table2_heading
      %h2{:style =>'float: left; color: #275696; font-weight: normal; margin-top: 10px; margin-bottom: 0px;'} 机构设置
      / = link_to image_tag("design/more.gif", :id => :more, :border => 0, :name => :more), [:services]
      = image_tag('departments.jpg', :height => 160, :style => 'margin-top: 15px; margin-left: 15px; float:left;')
    / %ul.list_1
    /   - @services.each do |service|
    /     %li= link_to (raw "&gt;　%s" % truncate(service.name, :length => 16)), [service], :class => :text_link
  #table2_bg_right

#table_3
  #table3_bg_left
  #table3_bg_mid
    #table3_heading
      = link_to image_tag("design/more.gif", :id => :more, :border => 0, :name => :more), [:softwares]
    %ul.list_1
      - @softwares.each do |software|
        %li= link_to (raw "&gt;　%s" % truncate(software.title, :length => 16)), [software], :class => :text_link
  #table2_bg_right

