= render "shared/left_area"

#right_area
  #about_text_heading 软件下载
  #about_text
    %table.grey_font{:border => "0", :cellpadding => "0", :cellspacing => "5", :width => "100%"}
      %thead
        %tr
          %th{:width => "50%"}
            名字
          %th{:width => "20%"}
            分类
          %th{:width => "20%"}
            创建时间
          - if can? :edit, Software
            %th{:width => "10%"}

      %tbody#tbody
        = render 'tbody'

  #paginator
    = render 'paginator'

