= render "shared/left_area"

#right_area
  #about_text_heading 新闻公告
  #about_text
    %table.grey_font{:border => "0", :cellpadding => "0", :cellspacing => "5", :width => "100%"}
      %thead
        %tr
          %th{:width => "70%"}
            标题
          %th{:width => "20%"}
            创建时间
          %th{:width => "10%"}
      %tbody#tbody
        = render 'tbody'

  #paginator
    = render 'paginator'

