= render "shared/left_area"

#right_area
  #about_text_heading 部门介绍
  #about_text
    =raw '&nbsp&nbsp&nbsp&nbsp四川建筑职业技术学院始建于1956年，是西南四省唯一独立设置的建筑类职业技术学院。学院是教育部、财政部确定的“国家示范性高等职业院校”立项建设单位，全国高职高专土建类专业教学指导委员会副主任单位，教育部、建设部确定的中央财政重点支持的“国家建筑技能紧缺人才培训基地”和“建筑技术实训基地”。2004年，学院成为四川省率先引入ISO9000质量认证体系的高校。办学53年来，学院为中国的建设事业培养了5万多名专业人才。<br>&nbsp&nbsp&nbsp&nbsp学院位于四川省德阳市，现有全日制学生14374人，继续教育学生5300余人，校园占地面积2186亩，建筑面积32万平方米，教学仪器设备价值9300万元。<br>&nbsp&nbsp&nbsp&nbsp学院现有教职工915人，其中专任教师712人，省级教学名师3人，教授15人，副教授163人，“双师”素质教师294人。学院另有兼职教师412人，均为行业企业知名专家和能工巧匠。<br>&nbsp&nbsp&nbsp&nbsp学院现设9个教学系、2个教学部，在成都设立了成都校区。现开设48个专业，专业设置以土建大类为主，兼顾交通运输、资源开发与测绘、制造、电子信息、财经、文化教育等专业大类，形成了工、管、文、经、法五大学科协调发展的办学格局。 <br>&nbsp&nbsp&nbsp&nbsp学院拥有国家级教学改革试点专业1个，四川省教学改革试点专业4个，四川省精品专业4个；国家精品课程6门，四川省精品课程11门，院级精品课程39门；国家精品教材2本，国家“十一五”规划教材15本。主持编制了13本四川省建筑工程施工工艺标准，参与编制了3项国家标准；主持制订了7个专业的教育标准和7个行业资格标准，参与制订了18个专业的教育标准和14个行业资格标准。<br>&nbsp&nbsp&nbsp&nbsp学院秉承“立足四川、服务西南、辐射全国”的办学思想，坚持“培育鲁班传人，服务城乡建设”的办学理念，依托行业企业，通过省市共建、西南五省建设系统共建、西部建工集团“9+1”机制，与全国600余家用人单位建立了长期稳定的校企合作关系。 <br>&nbsp&nbsp&nbsp&nbsp学院毕业生就业率连年保持在97%以上，用人单位对毕业生的满意率达95%以上，取得了“高质量、高就业、高成才”的人才培养效果，连续6年获得“四川省普通高校毕业生就业工作先进集体”的荣誉称号。2009年，学院被评为“全国普通高校毕业生就业工作先进单位”。'

