%header.container_12.clearfix
  .grid_12
    %h1= t("web.page.edit", :model => User.model_name.human)

%section.container_12.clearfix
  .portlet.grid_12
    %header
      %h2= @user.name
      = link_to t("web.page.back_to_list"), [:admin, :users], :class => "button"

    %section
      = render "form", :url => [:admin, @user]

