%header.container_12.clearfix
  .grid_12
    %h1= t("web.page.index", :model => User.model_name.human)
%section.container_12.clearfix
  .grid_12
    .actions
      = link_to t("web.page.new", :model => User.model_name.human), [:new, :admin, :user], :class => "button"
    #demo.clearfix
      = render "entries", :users => @users

= content_for :javascript do

  :javascript
    $(document).ready(function() {
      $('.list_table').dataTable( {
          "sPaginationType": "full_numbers",
          "aaSorting": [[0,'asc']],
          "oLanguage": {
            "sUrl": "/javascripts/datatables/zh-CN.txt"
          }
      });
      $("[data-colorBox-ajax-load]").colorbox({
        width: "80%",
        height: "80%"
      });
    });

