#loading
  :javascript
    document.write("<div id='loading-container'><p id='loading-content'>" +
                   "<img id='loading-graphic' width='16' height='16' src='/images/ajax-loader-eeeeee.gif' /> " +
                   "Loading...</p></div>");